name: E2E Tests

on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    env:
      API_BASE_URL: 'http://localhost:3000'
      PORT: 4000

    steps:
      - name: Checkout do repositorio
        uses: actions/checkout@v4

      - name: Instalando dependencias
        run: npm install

      - name: Executando o projeto web
        run: npm run server &

      - name: Executando servidor mock
        run: npm run mock-server &

      - name: Execução dos testes
        run: npx cypress run
